<script setup>
const config = useRuntimeConfig()
const blockchain = config.public.blockchain === 'nexatest' ? 'Testnet' : (config.public.blockchain === 'nexareg' ? 'Regtest' : 'Nexa')
</script>

<template>
  <ContentSection
      section-id="index-main-hero"
      alignment="text-center"
      layout="custom"
      :sections="[
      { name: 'center', columns: 8 },
    ]"
  >
    <template #above>
      <h1 class="sub-header">Wallet Integration Example and {{ blockchain }} Faucet</h1>
    </template>
    <template #center>
      <div>
        <p class="mt-8 body-content">
          This example web app shows how a web site can be integrated with the NEXA blockchain and cryptocurrency. It uses the NEXA Identity and Delegated Payment Protocol to create simple interactions between a user's wallet and this app.
        </p>
        <p class="mt-8 body-content">
          If you have connected your wallet using the QR code below, you can just click the QR code like a button.
        </p>
        <p class="mt-8 body-content">
          To try out the functionality in this app, you MUST use <a href="www.wallywallet.org">Wally Wallet</a> (the NEXA mobile wallet) or another NEXA wallet capable of scanning QR codes. What if you don't want to install Wally but still want coins? Sorry, you can't (or anyway not easily) -- think of this as a simple captcha.
        </p>
      </div>

    </template>
  </ContentSection>
</template>

<style scoped>
</style>
