<script setup>
import { ref, onMounted, onBeforeUnmount, computed } from 'vue'

const { $serverFqdn, $sessionId, $wallet, $socketEmitter } = useNuxtApp()

if (!$wallet) {
  console.error('$wallet is not available')
}

const props = defineProps({
  isOpen: {
    type: Boolean,
    required: true,
  },
})

const emit = defineEmits(['close', 'update:isOpen'])

const qrURI = ref('')
const headerMessage = ref('Connect Wallet')
const showQRCode = ref(true)
const hasAutoClosed = ref(false)  // Flag to track auto-close status

const isVisible = computed({
  get() {
    return props.isOpen
  },
  set(value) {
    emit('update:isOpen', value)
  },
})

const tdppTopic = "example"
qrURI.value = `tdpp://${$serverFqdn.value}/lp?cookie=${$sessionId.value}&topic=${tdppTopic}`

const handleMessage = (event) => {
  const data = event.data.trim()
  if (data === 'W1') {
    $wallet.connectWallet()
    showQRCode.value = false
    headerMessage.value = "Wallet Connected"
    if (!hasAutoClosed.value) {
      isVisible.value = false // Auto-close the modal
      hasAutoClosed.value = true // Set the flag to true after the first auto-close
    }
  } else if (data === 'W0' || (data.startsWith('RlongPollCount') && data.includes('disconnected'))) {
    $wallet.disconnectWallet()
    showQRCode.value = true
    headerMessage.value = "Connect Wallet"
    hasAutoClosed.value = false // Reset the auto-close flag when disconnected
  }
}

onMounted(() => {
  // Listen to WebSocket messages via the socketEmitter
  $socketEmitter.on('message', handleMessage)
})

onBeforeUnmount(() => {
  // Clean up the event listener when the component is destroyed
  $socketEmitter.off('message', handleMessage)
})
</script>

<template>
  <UModal v-model="isVisible">
    <UCard :ui="{ ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
      <template #header>
        <h2 class="text-2xl font-bold text-center break-all">{{ headerMessage }}</h2>
      </template>

      <div class="p-6">
        <div v-if="showQRCode">
          <ClickableQRCode :value="qrURI" :size="250"/>
        </div>
        <div v-else class="flex justify-center">
          <UButton
              size="xl"
              color="black"
              @click="$wallet.disconnectWallet()"
          >
            Disconnect Wallet
          </UButton>
        </div>
      </div>

      <template #footer>
        <div class="w-full flex justify-end">
          <UButton color="black" @click="isVisible = false">Close</UButton>
        </div>
      </template>
    </UCard>
  </UModal>
</template>

<style scoped>
/* Your styles here */
</style>
