<script setup>

</script>

<template>
  <ContentSection
      section-id="messages-main-hero"
      alignment="text-center"
      layout="custom"
      :sections="[
      { name: 'center', columns: 8 },
    ]"
  >
    <template #above>
      <h1 class="sub-header">Sign Messages</h1>
    </template>
    <template #center>
      <ULink
        to="https://spec.nexa.org/nexid/"
        active-class="text-primary text-xl"
        inactive-class="text-xl text-black dark:text-white hover:text-purple-500 dark:hover:text-purple-400"
        target="_blank"
      >
        Read more about Nexa Identity here
      </ULink>
    </template>
  </ContentSection>
</template>

<style scoped>
</style>
