<script setup>
import {onBeforeUnmount, onMounted, ref, watch} from 'vue'

const { $sessionId, $socket, $wallet } = useNuxtApp()
const config = useRuntimeConfig()

// Initialize reactive references for text and binary messages, QR URIs, and other state variables
const textMessage = ref('')
const binaryMessage = ref('')
const textQrUri = ref('')
const binaryQrUri = ref('')
const messageData = ref({})
const showQRCode = ref(true)
const showCardBody = ref(true)
const identityData = ref({})
const showIdentityMessage = ref(false)

// Utility function to convert a string to hex
const stringToHex = (str) => {
  return Array.from(str).map(c => c.charCodeAt(0).toString(16).padStart(2, '0')).join('')
}

// Fetch sign message data from the server
const fetchSignMessageData = async () => {
  try {
    messageData.value = await $fetch(`/api/signMessage?cookie=${$sessionId.value}`)
    textMessage.value = messageData.value.textMessageToSign
    binaryMessage.value = messageData.value.binaryMessageToSign
    textQrUri.value = messageData.value.signTextMessageQrUri
    binaryQrUri.value = messageData.value.signHexBinMessageQrUri
  } catch (error) {
    console.error('Error fetching Sign Message data:', error)
  }
}

// Handle WebSocket messages
const handleMessage = (event) => {
  const data = event.data.trim()
  const prefix = data.substring(0, 4)
  const content = data.substring(1)
  if (prefix === 'Rid_') {
    const [key, value] = content.split('\n', 2)
    if (key && value) {
      const mappedKey = key.replace('id_', '')
      identityData.value[mappedKey] = value
      showIdentityMessage.value = true
    }
  } else {
    console.log('Received message:', data)
  }
}

// Update text message on the server and refresh the QR code
const updateTextMessage = async (msg) => {
  try {
    textQrUri.value = await $fetch(`/_changeSignMessage`, {
      params: {msg, cookie: $sessionId.value}
    })
  } catch (error) {
    console.error('Error updating text message:', error)
  }
}

// Update binary message on the server and refresh the QR code
const updateBinaryMessage = async (hexmsg) => {
  try {
    binaryQrUri.value = await $fetch(`/_changeSignMessage`, {
      params: {msghex: hexmsg, cookie: $sessionId.value}
    })
  } catch (error) {
    console.error('Error updating binary message:', error)
  }
}

// Handle WebSocket connection lifecycle
onMounted(() => {
  $socket.addEventListener('message', handleMessage)
  fetchSignMessageData()
})

onBeforeUnmount(() => {
  $socket.removeEventListener('message', handleMessage)
})

// Watch text and binary messages to update the server and QR codes
watch(textMessage, (newVal) => {
  updateTextMessage(newVal)
})

watch(binaryMessage, (newVal) => {
  const hexVal = stringToHex(newVal)
  updateBinaryMessage(hexVal)
})

// Dismiss identity box and reset data
const dismissIdentityBox = () => {
  showIdentityMessage.value = false
  identityData.value = {}
}

</script>

<template>
  <ContentSection
      section-id="messages-sign-messages"
      alignment="text-center"
      layout="custom"
      :sections="[
      { name: 'center', columns: 8 },
    ]"
  >
    <template #center>
      <!-- Identity Box for Signed Message -->
      <div v-if="showIdentityMessage && identityData" :style="{ backgroundColor: 'var(--chat-bg-color)', color: 'var(--text-color)' }" class="flex flex-col mt-16 rounded-3xl shadow-xl border-2 border-base-content mx-auto p-4 w-full mb-8">
        <div class="break-all whitespace-normal">
          <h2 class="text-3xl font-bold">Message Successfully Signed</h2>
          <h2 class="text-2xl mt-6">Signed By:</h2>
          <div class="mt-6">
            <p v-if="identityData.addr"><span class="font-bold">Address: </span>{{ identityData.addr }}</p>
            <p v-if="identityData.dob"><span class="font-bold">Date of Birth: </span>{{ identityData.dob }}</p>
            <p v-if="identityData.hdl"><span class="font-bold">Handle: </span>{{ identityData.hdl }}</p>
            <p v-if="identityData.realname"><span class="font-bold">Real Name: </span>{{ identityData.realname }}</p>
            <p v-if="identityData.postal"><span class="font-bold">Postal: </span>{{ identityData.postal }}</p>
            <p v-if="identityData.billing"><span class="font-bold">Billing: </span>{{ identityData.billing }}</p>
            <p v-if="identityData.ava"><span class="font-bold">Avatar: </span>{{ identityData.ava }}</p>
            <p v-if="identityData.attest"><span class="font-bold">Attest: </span>{{ identityData.attest }}</p>
            <p v-if="identityData.ph"><span class="font-bold">Phone: </span>{{ identityData.ph }}</p>
            <p v-if="identityData.sm"><span class="font-bold">Social Media: </span>{{ identityData.sm }}</p>
            <p v-if="identityData.sig_title"><span class="font-bold">{{
                identityData.sig_title
              }} </span>{{ identityData.sig }}</p>
          </div>
        </div>
        <div class="flex justify-center mt-6">
          <button class="btn btn-error text-white w-20" @click="dismissIdentityBox">
            Dismiss
          </button>
        </div>
      </div>
      <!-- Card for Text Signing -->
      <div
          ref="textSigningBox"
          v-if="showCardBody"
          :style="{ backgroundColor: 'var(--chat-bg-color)', color: 'var(--text-color)' }"
          class="flex flex-col mt-16 rounded-3xl shadow-xl border-2 border-base-content mx-auto p-4 w-full mb-8 duration-500"
      >
        <!-- Left side textbox -->
        <div class="p-4 w-full">
          <textarea
              id="textMessage"
              v-model="textMessage"
              class="w-full h-24 p-4 bg-gray-100 dark:bg-gray-900 rounded-lg resize-none"
              placeholder="Enter your message here..."
          ></textarea>
        </div>
        <!-- Right side QR code -->
        <div class="w-full flex flex-col items-center justify-center text-center">
          <ClickableQRCode
              v-if="showQRCode"
              :value="textQrUri"
              @click="$wallet.qrClickHandler(textQrUri)"
          />
        </div>
      </div>

      <!-- Card for Binary Signing -->
      <div
          ref="binarySigningBox"
          v-if="showCardBody"
          :style="{ backgroundColor: 'var(--chat-bg-color)', color: 'var(--text-color)' }"
          class="flex flex-col mt-16 rounded-3xl shadow-xl border-2 border-base-content mx-auto p-4 w-full duration-500"
      >
        <!-- Left side textbox -->
        <div class="p-4 w-full">
          <textarea
              id="binaryMessage"
              v-model="binaryMessage"
              class="w-full h-24 p-4 bg-gray-100 dark:bg-gray-900 rounded-lg resize-none"
              placeholder="Enter your binary message here..."
          ></textarea>
        </div>
        <!-- Right side QR code -->
        <div class="w-full flex flex-col items-center justify-center text-center">
          <ClickableQRCode
              v-if="showQRCode"
              :value="binaryQrUri"
              @click="$wallet.qrClickHandler(binaryQrUri)"
          />
        </div>
      </div>
    </template>
  </ContentSection>
</template>



<style scoped>
/* Additional styles if needed */
textarea {
  min-height: 100px; /* Adjust as needed */
}
</style>
