@tailwind base;
@tailwind components;
@tailwind utilities;


.constraint {
    @apply mx-auto w-full;
}

.constraint.size-xl {
    @apply max-w-[1800px];
}

.constraint.size-lg {
    @apply max-w-[1500px];
}

.constraint.size-md {
    @apply max-w-[1100px];
}

.constraint.size-sm {
    @apply max-w-[700px];
}

.constraint.size-xs {
    @apply max-w-[400px];
}

.main-header {
    @apply text-5xl lg:text-7xl font-bold tracking-tighter lg:leading-none;
}

.sub-header {
    @apply text-4xl lg:text-5xl font-bold tracking-tighter lg:leading-none;
}

.body-content {
    @apply text-xl;
}

.glassmorphism-background {
    @apply bg-gray-800 rounded-md bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-30;
}

.collapse-arrow svg {
    @apply w-[1em] h-[1em];
}

pre {
    @apply border border-black p-1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre code {
    counter-reset: line-numbering;
}

pre code .line::before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    @apply pr-[.8em] mr-1.25 w-[1.5em] text-right opacity-50 bg-gray-200;
}

.content-section {
    @apply relative;
}

.layout-center .content-section {
    @apply text-center;
}

.content-section > [name="above"] {
    @apply w-full;
}

/* Custom grid for large screens */
@media (min-width: 1024px) {
    .lg\:grid-cols-8 { @apply grid grid-cols-8; }
    .lg\:grid-cols-7 { @apply grid grid-cols-7; }
    .lg\:grid-cols-6 { @apply grid grid-cols-6; }
    .lg\:grid-cols-5 { @apply grid grid-cols-5; }
    .lg\:grid-cols-4 { @apply grid grid-cols-4; }
    .lg\:grid-cols-3 { @apply grid grid-cols-3; }
    .lg\:grid-cols-2 { @apply grid grid-cols-2; }
    .lg\:grid-cols-1 { @apply grid grid-cols-1; }
}

.dropdown-content {
    @apply absolute top-full right-0 bg-black bg-opacity-90 backdrop-filter backdrop-blur z-50 border border-gray-300 opacity-0 invisible transition-opacity duration-300 ease-in-out;
}

.dropdown-content.visible {
    opacity: 1; /* Make the element fully opaque */
    visibility: visible; /* Ensure the element is visible */
}


