<template>
  <div class="flex flex-col items-center p-4 rounded-lg shadow-sm">
    <UButton
        color="black"
        v-if="isConnected"
        @click.prevent="$emit('click')"
        class="mb-4 px-4 py-2 rounded"
    >
      Send to Connected Wallet
    </UButton>
    <qrcode-vue
        class="mt-6"
        render-as="svg"
        :size="300"
        :value="value"
    />
    <div v-if="subtitle" class="text-center mt-16">
      <p class="text-md break-all whitespace-normal">{{ subtitle }}</p>
    </div>
    <div v-if="value" class="mt-16 text-center">
      <p class="text-md break-all whitespace-normal">{{ value }}</p>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'
import QrcodeVue from 'qrcode.vue'

const props = defineProps({
  value: {
    type: String,
    required: true
  },
  subtitle: {
    type: String,
    required: false
  }
})

const { $wallet } = useNuxtApp()
const isConnected = reactive($wallet.isWalletConnected())

</script>

<style scoped>
/* Your custom styles here */
</style>
