<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'

const headerMessage = ref('Connect Wallet')
const isConnecting = ref(false)
const { $socketEmitter, $wallet } = useNuxtApp()

const connected = ref(false)
const timeout = ref(false)
const address = ref('')

const handleMessage = (event) => {
  const data = event.data.trim()
  if (data === 'W1') {
    headerMessage.value = 'Wallet Connected'
  } else if (data === 'W0' || (data.startsWith('RlongPollCount') && data.includes('disconnected'))) {
    $wallet.disconnectWallet()
    headerMessage.value = 'Connect Wallet'
  }
}

onMounted(() => {
  // Listen to WebSocket events
  $socketEmitter.on('message', handleMessage)  // Handle incoming messages

  $socketEmitter.on('open', () => {
    connected.value = true
    timeout.value = false
  })

  $socketEmitter.on('W1', () => {
    console.log('W1 message received')
    timeout.value = false
  })

  $socketEmitter.on('timeout', () => {
    timeout.value = true
    connected.value = false
    console.error('WebSocket connection timed out')
  })

  $socketEmitter.on('address', (addr) => {
    address.value = addr
  })

  $socketEmitter.on('close', () => {
    connected.value = false
  })

  $socketEmitter.on('error', (error) => {
    console.error('WebSocket error occurred:', error)
    connected.value = false
  })
})

onBeforeUnmount(() => {
  // Clean up event listeners when the component is destroyed
  $socketEmitter.off('message', handleMessage)
  $socketEmitter.off('open')
  $socketEmitter.off('W1')
  $socketEmitter.off('timeout')
  $socketEmitter.off('address')
  $socketEmitter.off('close')
  $socketEmitter.off('error')
})

</script>

<template>
  <UButton
      @click="$emit('open-modal')"
      color="black"
      leading
      size="md"
      icon="i-heroicons-wallet"
  >
    <span>{{ isConnecting.value ? 'Connecting...' : headerMessage }}</span>
  </UButton>
</template>

<style scoped>
/* Your custom styles here */
</style>
