<script setup>

</script>

<template>
  <ContentSection
      section-id="identity-main-hero"
      alignment="text-center"
      layout="custom"
      :sections="[
      { name: 'center', columns: 8 },
    ]"
  >
    <template #above>
      <h1 class="sub-header">Identity and Login Functions</h1>
    </template>
    <template #center>
      <div>
        <a href="https://spec.nexa.org/nexid/" target="_blank" class="link link-hover">
          Read more about Nexa Identity here
        </a>
      </div>
    </template>
  </ContentSection>
</template>

<style scoped>
</style>
