<script setup>

</script>

<template>
  <constraint size="xl">
    <Container size="xl">
      <IdentityMainHero />
    </Container>

    <UDivider />

    <Container size="xl">
      <IdentityQRCodes />
    </Container>
  </constraint>
</template>

<style scoped>

</style>