<script setup>
import {ref} from 'vue'

const { $sessionId, $wallet } = useNuxtApp()
const config = useRuntimeConfig()

const textMessage = ref('')
const textQrUri = ref('')
const showQRCode = ref(true)
const showCardBody = ref(true)

</script>

<template>
  <ContentSection
      section-id="forwardqr-create-qr"
      alignment="text-center"
      layout="custom"
      :sections="[
      { name: 'center', columns: 8 },
    ]"
  >
    <template #center>
      <!-- Card for Text Signing -->
      <div
          ref="textSigningBox"
          v-if="showCardBody"
          :style="{ backgroundColor: 'var(--chat-bg-color)', color: 'var(--text-color)' }"
          class="flex flex-col mt-16 rounded-3xl shadow-xl border-2 border-base-content mx-auto p-4 w-full mb-8 duration-500"
      >
        <!-- Left side textbox -->
        <div class="p-4 w-full">
          <textarea
              id="textMessage"
              v-model="textMessage"
              class="w-full h-24 p-4 bg-gray-100 dark:bg-gray-900 rounded-lg resize-none"
              placeholder="Enter your message here..."
          ></textarea>
        </div>
        <!-- Right side QR code -->
        <div class="w-full flex flex-col items-center justify-center text-center">
          <ClickableQRCode
              v-if="showQRCode && textMessage"
              :value="textMessage"
              @click="$wallet.qrClickHandler(textQrUri)"
          />
        </div>
      </div>
    </template>
  </ContentSection>
</template>



<style scoped>
/* Additional styles if needed */
textarea {
  min-height: 100px; /* Adjust as needed */
}
</style>
