<script setup>
const walletData = ref({})
const { $sessionId } = useNuxtApp()
const config = useRuntimeConfig()
const fetchWalletData = async () => {
  try {
    walletData.value = await $fetch(`/api/wallet?cookie=${$sessionId.value}`)
    console.log(walletData)
  } catch (error) {
    console.error('Error fetching session data:', error)
  }
}

onMounted(fetchWalletData)

function byteArrayToHex(byteArray) {
  if (byteArray) {
    return byteArray
        .map(byte => {
          // Convert signed byte to unsigned, then to hexadecimal
          return ('00' + (byte & 0xff).toString(16)).slice(-2);
        })
        .join('');
  }

  return ''
}
</script>

<template>
  <ContentSection
      :sections="[
        { name: 'center', columns: 8 },
      ]"
      alignment="text-center"
      layout="custom"
      section-id="identity-qr-codes"
  >
    <template #center>
      <div>
        <h2 class="sub-header">Blockchain Information</h2>
        <UCard class="mt-16">
          <div class="w-full h-120 overflow-y-auto p-4 rounded-lg" ref="logContainer">
            <div class="mb-2 text-sm font-mono text-left flex gap-4 text-black dark:text-white">
              <strong>Tip Height:</strong> {{ walletData.blockchain?.tipHeight }}
            </div>
            <div class="mb-2 text-sm font-mono text-left flex gap-4 text-black dark:text-white">
              <strong>Tip Hash:</strong> {{ byteArrayToHex(walletData.blockchain?.tipHash?.hash)  }}
             </div>
            <div class="mb-2 text-sm font-mono text-left flex gap-4 text-black dark:text-white">
              <strong>Tip Time:</strong> {{ new Date(walletData.blockchain?.tipTime * 1000).toLocaleString() }}
            </div>
          </div>
        </UCard>


        <h2 class="sub-header mt-6">P2P Peers</h2>
        <UCard class="mt-16">
          <div class="w-full h-120 overflow-y-auto p-4 rounded-lg" ref="logContainer">
            <div class="mb-2 text-sm font-mono text-left flex gap-4 text-black dark:text-white">
              <div class="mt-6" v-for="peer in walletData.p2pPeers" :key="peer.logName">
                <strong>Log Name:</strong> {{ peer.logName }}<br>
                <strong>Latency:</strong> {{ peer.latency }} ms<br>
                <strong>Bytes Sent:</strong> {{ peer.bytesSent }}<br>
                <strong>Bytes Received:</strong> {{ peer.bytesReceived }}<br>
              </div>
            </div>
          </div>
        </UCard>



        <h2 class="sub-header mt-6">Wallet Debug Information</h2>
        <UCard class="mt-16">
          <div class="w-full h-120 overflow-y-auto p-4 rounded-lg" ref="logContainer">
            <div v-html="walletData.walletDump" class="mb-2 text-sm font-mono text-left flex gap-4 text-black dark:text-white">
            </div>
          </div>
        </UCard>
      </div>
    </template>
  </ContentSection>
</template>

<style scoped>

</style>