<script setup>

</script>

<template>
  <ContentSection
      section-id="wallets-main-hero"
      alignment="text-center"
      layout="custom"
      :sections="[
      { name: 'center', columns: 8 },
    ]"
  >
    <template #above>
      <h1 class="sub-header">Wallet Internals</h1>
    </template>
  </ContentSection>
</template>

<style scoped>
</style>
