<script setup>
const config = useRuntimeConfig()
</script>

<template>
  <Constraint size="xl">
    <Container size="xl">
      <FaucetMainHero />
    </Container>
    <Container size="xl">
      <FaucetQRCodes />
    </Container>
    <Container size="xl" v-if="config.public.enableFundAddress">
      <FaucetFundAddress
          :cooldown-duration="config.public.fundAddressCooldown"
          :enabled="config.public.enableFundAddress"
      />
    </Container>
  </Constraint>
</template>

<style scoped>

</style>