<script setup>
import { onMounted, ref } from 'vue'
import { animate, stagger } from 'motion'

const props = defineProps({
  text: {
    type: String,
    required: true
  },
  headerTag: {
    type: String,
    default: 'div'
  },
  gradientText: {
    type: String,
    default: ''
  },
  gradientClasses: {
    type: String,
    default: ''
  },
  suffixText: {
    type: String,
    default: ''
  }
})

const splitText = (text) => {
  return text.split('').map(char => ({ char, class: '' }))
}

const headerCharacters = splitText(props.text)
const gradientCharacters = splitText(props.gradientText)
const suffixCharacters = splitText(props.suffixText)
const headerRef = ref(null)

onMounted(() => {
  const headerElements = headerRef.value.querySelectorAll("span")
  animate(headerElements, { opacity: [0, 1] }, { delay: stagger(0.03), duration: 0.5 })
})
</script>

<template>
  <component :is="headerTag" ref="headerRef" class="main-header">
    <template v-for="(charObj, index) in headerCharacters" :key="`header-${index}`">
      <span>{{ charObj.char }}</span>
    </template>
    <span :class="gradientClasses" v-if="gradientText">
      <template v-for="(charObj, index) in gradientCharacters" :key="`gradient-${index}`">
        <span>{{ charObj.char }}</span>
      </template>
    </span>
    <template v-for="(charObj, index) in suffixCharacters" :key="`suffix-${index}`">
      <span>{{ charObj.char }}</span>
    </template>
  </component>
</template>

<style scoped>

</style>
