body { display: none; }

.bright {}

.dim {
    opacity: 0.1;
}

.spacer {
width: 5%;
}
.centered {
text-align: center;
}

.row {
  width: 100%;
  text-align: center; // center the content of the container
}
.inline {
  display: inline-block;
}
.bold {
font-size: 150%;
font-weight: bold;
}

h3 {
text-align: center;
}

.tabHorizMenu {
    width: 100%;
    text-align: center;
}
.tabItem {
text-align: center;
font-size: 150%;
min-height: 4em;
border-radius: 10px;
border: .1em solid BlueViolet;
}

.tabItemHighlight {
    background-color: silver;
}

.info {
text-align: center;
font-size: 150%;
min-height: 4em;
background-color: silver;
border-radius: 50px;
border: .25em solid BlueViolet;
overflow-wrap: break-word;
}

.log {
text-align: center;
font-size: 150%;
min-height: 10em;
background-color: silver;
border-radius: 50px;
border: .25em solid BlueViolet;
overflow: wrap;
}

.smhr {
margin: 0.5em auto;
min-height: 0.25em;
width: 50%;
background-color: DarkViolet;
}

.medhr {
margin: 1em auto;
min-height: 0.33em;
width: 75%;
background-color: DarkViolet;
}