<script setup>

</script>

<template>
  <footer class="footer p-10 text-base-content">
    <div class="flex justify-center items-center w-full">
      <aside class="flex flex-col items-center">
        <div class="flex justify-center items-center">
          <img
              class="h-12 hidden dark:block"
              src="/static/logos/nexa/nexa-logo-mark-text-white.svg"
              alt="Nexa Logo - dark mode"
          />
          <img
              class="h-12 block dark:hidden"
              src="/static/logos/nexa/nexa-logo-mark-text-dark.svg"
              alt="Nexa Logo - light mode"
          />
        </div>
        <div class="border-t border-white/20 py-4 mt-4 flex justify-center items-center">
          <h2 class="text-md font-semibold text-base-content">Powered by</h2>
          <a href="https://www.bitcoinunlimited.info/" target="_blank">
            <img
                class="h-6 ml-2 hidden dark:block"
                src="/static/logos/nexa/bu-logo-light.svg"
                alt="Bitcoin Unlimited Logo - dark mode"
            />
            <img
                class="h-6 ml-2 block dark:hidden"
                src="/static/logos/nexa/bu-logo-dark.svg"
                alt="Bitcoin Unlimited Logo - light mode"
            />
          </a>
        </div>
      </aside>
    </div>
  </footer>
</template>

<style scoped>
/* Your custom styles here */
</style>
