<script setup>
import {useScreenSize} from '@/composables/global/useScreenSize.js'

const props = defineProps({
  columns: {
    type: Array,
    required: true,
    default: () => [],
  },
})

const {isSmallScreen} = useScreenSize()
</script>

<template>
  <div class="w-full bg-black/30 rounded-b-2xl p-6">
    <div v-if="isSmallScreen">
      <UAccordion
          :items="columns"
          :ui="{
          wrapper: 'flex flex-col w-full'
        }"
          size="xl"
      >
        <template #default="{ item, index, open }">
          <UButton
              :ui="{ rounded: 'rounded-none', padding: { sm: 'p-3' } }"
              class="mb-4 p-5 glassmorphism-background text-xl"
              color="gray" variant="ghost">
            <template #leading>
              <div class="w-8 h-8 rounded-full flex items-center justify-center -my-1 mx-1">
                <div :class="['badge', item.badgeClass, 'badge-sm']"/>
              </div>
            </template>

            <span class="truncate">{{ item.name }}</span>

            <template #trailing>
              <UIcon
                  :class="[open && 'rotate-90']"
                  class="w-6 h-6 ms-auto transform transition-transform duration-200"
                  name="i-heroicons-chevron-right-20-solid"
              />
            </template>
          </UButton>
        </template>
        <template #item="{ item }">
          <div class="grid gap-6 mt-6">
            <div class="flex flex-col items-start w-full gap-6">
              <div class="grid gap-6 w-full auto-rows-fr">
                <ClickableCard
                    v-for="(data, itemIndex) in item.items"
                    :key="itemIndex"
                    :badge="data.badge"
                    :description="data.description"
                    :external="data.external"
                    :isFlexGrow="false"
                    :link="data.link"
                    :title="data.title"
                    class="w-full h-full"
                />
              </div>
            </div>
          </div>
        </template>
      </UAccordion>
      <!-- Mobile and tablet layout with headers as collapsible accordions -->
    </div>
    <div v-else>
      <!-- Desktop layout with headers in a single row -->
      <div class="glassmorphism-background py-4">
        <div class="grid grid-cols-3 gap-6 text-center">
          <div v-for="(column, index) in columns" :key="index"
               class="text-white text-xl flex items-center justify-center gap-2">
            <UChip size="xl" :color="column.chipColor" class="mr-2" />
            {{ column.name }}
          </div>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-6 mt-6">
        <div v-for="(column, index) in columns" :key="index" class="w-full">
          <div class="flex flex-col items-start w-full gap-6">
            <div class="grid gap-6 w-full auto-rows-fr">
              <ClickableCard
                  v-for="(item, itemIndex) in column.items"
                  :key="itemIndex"
                  :badge="item.badge"
                  :description="item.description"
                  :external="item.external"
                  :isFlexGrow="false"
                  :link="item.link"
                  :title="item.title"
                  class="w-full h-full"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
/* Add any additional styles if needed */
</style>
