<script setup>
const config = useRuntimeConfig()
const qrData = ref({})

const { $sessionId, $wallet } = useNuxtApp()

const fetchQrData = async () => {
  try {
    qrData.value = await $fetch(`/api/faucet/qr?cookie=${$sessionId.value}`)
  } catch (error) {
    console.error('Error fetching QR data:', error)
  }
}

onMounted(fetchQrData)
</script>

<template>
  <ContentSection
      :sections="[
        { name: 'center', columns: 8 },
      ]"
      alignment="text-center"
      layout="custom"
      section-id="faucet-qr-codes"
  >
    <template #center>
      <div class="flex flex-col gap-4 p-4">
        <!-- Row for Titles and QR Codes -->
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          <div v-for="item in qrData" :key="item.id" class="flex flex-col items-center p-4 rounded-lg shadow-sm">
            <div class="h-16 flex items-center justify-center">
              <h3 class="text-2xl font-bold break-all whitespace-normal text-center">{{ item.title }}</h3>
            </div>
            <ClickableQRCode
                :value="item.qrURI"
                @click="$wallet.qrClickHandler(item.qrURI)"
                class="mt-4"
            />
            <div v-if="item.subtitle" class="text-center mt-4">
              <p class="text-md break-all whitespace-normal">{{ item.subtitle }}</p>
            </div>
          </div>
        </div>
      </div>
    </template>
  </ContentSection>
</template>

<style scoped>
/* Additional styles if needed */
</style>
