<script>
export default {
  props: {
    size: {
      type: String,
      default: 'default', // Default size
      validator: value => ['sm', 'default', 'lg'].includes(value)
    }
  },
  computed: {
    containerClass() {
      switch (this.size) {
        case 'sm':
          return 'max-w-sm'
        case 'lg':
          return 'max-w-7xl'
        case 'xl':
          return 'max-w-full'
        default:
          return 'max-w-3xl'
      }
    }
  }
}
</script>

<template>
  <UContainer
      :ui="{
      base: 'mx-auto mt-16 mb-16',
      padding: 'px-4 sm:px-4 md:px-8 lg:px-8',
      constrained: containerClass
    }"
  >
    <slot></slot>
  </UContainer>
</template>


