<script setup>
import { computed } from 'vue'
import { useThemeStore } from '@/stores/themeStore.js'

// Import SVGs from static/icons directory
import SunIcon from '@/static/icons/sun.svg'
import MoonIcon from '@/static/icons/moon.svg'

const props = defineProps({
  size: {
    type: String,
    default: 'md', // Default size is 'md', but can be 'xs', 'sm', 'md', 'lg', 'xl'
  },
  visible: {
    type: Boolean,
    default: false
  }
})

const themeStore = useThemeStore();

const sizeClass = computed(() => {
  switch (props.size) {
    case 'xs':
      return 'btn-xs'
    case 'sm':
      return 'btn-sm'
    case 'md':
      return 'btn-md'
    case 'lg':
      return 'btn-lg'
    case 'xl':
      return 'btn-xl'
    default:
      return 'btn-md' // Fallback to medium if no valid size is provided
  }
})

const toggleTheme = () => {
  const newTheme = themeStore.theme === 'light' ? 'dark' : 'light'
  themeStore.setTheme(newTheme)

  // Toggle dark class on the root element
  if (newTheme === 'dark') {
    document.documentElement.classList.add('dark')
  } else {
    document.documentElement.classList.remove('dark')
  }
}
</script>


<template>
  <button v-if="visible"
          class="btn btn-circle btn-ghost"
          :class="sizeClass"
          @click="toggleTheme"
          :aria-label="themeStore.theme === 'light' ? 'Switch to dark mode' : 'Switch to light mode'"
  >
    <span v-if="themeStore.theme === 'dark'">
      <img :src="SunIcon" alt="Sun Icon" class="inline-block theme-icon"/>
    </span>
    <span v-else>
      <img :src="MoonIcon" alt="Moon Icon" class="inline-block theme-icon"/>
    </span>
  </button>
</template>


<style scoped>
.theme-icon {
  width: 24px;
  height: 24px;
}

.dark .theme-icon {
  filter: invert(1); /* Optionally keep this if your icons need to be inverted */
}
</style>

