<script>

export default {
  props: {
    name: String, // Card title
    description: String, // Card description
    onClick: Function, // Click handler for the card
    href: String
  },
  methods: {
    handleClick(event) {
      if (this.href) {
        window.location.href = this.href;
      }
      if (this.onClick) {
        this.onClick(event);
      }
    }
  }
}
</script>

<template>
  <UCard @click="handleClick" class="cursor-pointer w-full">
    <div class="flex justify-between items-start">
      <div class="flex items-center gap-3">
        <slot name="icon">
          <span class="inline-block w-6 h-6 bg-gray-300 mr-2"></span>
        </slot>
        <h3 class="text-lg font-bold">{{ name }}</h3>
      </div>
      <div class="flex justify-end">
        <UButton
            :ui="{
            color: {
              white: {
                ghost: 'ring-0 text-white'
              }
            }
          }"
            color="white"
            variant="ghost"
            icon="i-heroicons-arrow-right"
        />
      </div>
    </div>
    <p v-if="description" class="mt-2 text-sm text-gray-600">{{ description }}</p>
  </UCard>
</template>
